/*
Styles for Acccordion 

*/

/* Hiding the checkboxes or radio button*/ 
.accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
   }

.accordion {
    margin-bottom: 1.2rem;
   }

   .accordion-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
   }

   .accordion-label::after {
    content: '\002B';
    padding: 0.51rem;
    transform: scale(1.8);
    text-align: center;
    transition: all 0.35s;
   }

   .accordion-content {
    max-height: 0;
    height: auto;
    padding: 0 1em;
    transition: all 0.35s;
    display: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 4px 12px 12px 2px #22222224;
   }

   input:checked + .accordion-label::after {
    content: '\2013';
    transform: scale(1.5);
   }
   input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 1em;
    display: block;
    transition: all 0.35s;
   }

   
.accordion-label {
    position: relative;
   }
   
   .accordion-close {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;

    cursor: pointer;
    position: absolute;
    left: 64rem;
   }