.is-style-hody-addon-sticky-part {

}

.is-style-hody-addon-flat-button-with-icon a {
    justify-content: space-between;
    display: flex;
  }
.is-style-hody-addon-flat-button-with-icon a::after {
    content: '→';
}
